<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Iniciar sesión</title>
  <link href="/css/loginC.css" rel="stylesheet">
</head>
<body>
<div class="background">
  <div class="container">
    <form class="form-signin" method="post" action="/login">
      <h2>Iniciar sesión</h2>
      <input type="text" id="username" name="username" class="form-control" placeholder="DNI" required autofocus>
      <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
      <input name="_csrf" type="hidden" value="1iaKoWv56f_Nx-KYnXbs_TGd15e0aXmErgWpFwI7R2KmtFdp4he7mF7PjMbg_oT6-FvYzwX_-vWAXB2pzWCbIDYPf1HC0mBQ" />
      <button class="btn" type="submit">Iniciar sesión</button>
      <a href="/" style="text-align: center">Acceder sin Iniciar Sesión</a>
    </form>
  </div>
</div>
</body></html>